= link_to adjective, data: { turbo_frame: '_top' }, id: dom_id(adjective) do
  = box padding: false, class: 'h-full' do
    .flex.h-full
      - if adjective.image.attached?
        = image_tag adjective.image.variant(:thumb), class: 'w-24 h-24'
      - else
        .bg-gray-50.w-24.h-24
      .px-4.py-5.sm:px-6
        .text-xl.font-medium= adjective.name
        .text-md= adjective.syllables
