= render WordHeaderComponent.new(word: @adjective) do |component|
  - component.with_title do
    %h1= @adjective.name

  - component.with_property do
    = render LabeledValueComponent.new(label: Adjective.human_attribute_name(:comparative), value: @adjective.comparative)
  - component.with_property do
    = render LabeledValueComponent.new(label: Adjective.human_attribute_name(:superlative), value: @adjective.superlative)

= render "words/more_meanings", word: @adjective

= two_column_card t('words.show.adjective.title'), t('words.show.adjective.description'), first: true do
  = box padding: false do
    = box_description_list do |list|
      = render(list.add(Adjective.human_attribute_name(:absolute))) do
        = @adjective.absolute.humanize

      = render(list.add(Adjective.human_attribute_name(:irregular_comparison))) do
        = @adjective.irregular_comparison.humanize

      = render(list.add(Adjective.human_attribute_name(:irregular_declination))) do
        = @adjective.irregular_declination.humanize

= render 'example_sentences/list', word: @adjective

= render 'words/general', word: @adjective

= render 'shared/versions', model: @adjective

.pagination-with-actions
  = link_to t('actions.edit'), [:edit, @adjective], data: { turbo_frame: '_top' }, class: 'button primary' if can?(:edit, @adjective)
