= title_with_actions @adjective.name do
  = render "words/more_meanings", word: @adjective

= two_column_card t('words.show.adjective.title'), t('words.show.adjective.description'), first: true do
  = box padding: false do
    = box_description_list do |list|
      = render(list.add(Word.human_attribute_name(:name))) do
        .w-full.grid.grid-cols-2.gap-2.md:grid-cols-3
          %div
            = @adjective.name
            .text-sm.text-gray-400= Adjective.human_attribute_name(:name)
          %div
            = @adjective.comparative.presence || "&nbsp;".html_safe
            .text-sm.text-gray-400= Adjective.human_attribute_name(:comparative)
          %div
            = @adjective.superlative.presence || "&nbsp;".html_safe
            .text-sm.text-gray-400= Adjective.human_attribute_name(:superlative)

      = render(list.add(Adjective.human_attribute_name(:absolute))) do
        = @adjective.absolute.humanize

      = render(list.add(Adjective.human_attribute_name(:irregular_comparison))) do
        = @adjective.irregular_comparison.humanize

      = render(list.add(Adjective.human_attribute_name(:irregular_declination))) do
        = @adjective.irregular_declination.humanize

= render 'words/general', word: @adjective

= render 'words/versions', word: @adjective

.pagination-with-actions
  = link_to t('actions.edit'), [:edit, @adjective], data: { turbo_frame: '_top' }, class: 'button primary' if can?(:edit, @adjective)
