%h1= t '.title'

= box padding: true do
  = simple_form_for @user, url: profile_path do |f|
    = f.input :first_name, autofocus: true
    = f.input :last_name
    = f.input :avatar

    .mt-4
      = f.submit
      = cancel_button profile_path
