= two_column_card t('.title'), "", first: true do
  = box padding: false do
    = render UserProfileAttributesComponent.new(user: @user)

= two_column_card t('.learning_groups'), "" do
  = box padding: false do
    - @user.learning_groups.each do |learning_group|
      .p-4= link_to learning_group.name, learning_group

= two_column_card t('activerecord.models.theme.other'), "" do
  = box padding: false do
    = box_description_list do |list|
      - Theme::WORD_TYPES.each do |word_type|
        = render UserProfileThemeComponent.new(user: @user, word_type:, list:)
