= two_column_card t('.title'), "", first: true do
  = box padding: false do
    = render UserProfileAttributesComponent.new(user: @user)

= two_column_card t('.learning_groups'), "" do
  = box padding: false, id: 'learning_groups' do
    - @user.learning_group_memberships.each do |membership|
      - if membership.granted?
        .p-4= link_to membership.learning_group.name, membership.learning_group
      - elsif membership.invited?
        .p-4.flex.justify-between.items-center
          = link_to membership.learning_group.name, membership.learning_group
          .flex.gap-2
            = button_to t('.accept'), learning_group_learning_group_membership_requests_accept_path(membership.learning_group, membership), method: :post, class: 'button primary'
            = button_to t('.reject'), learning_group_learning_group_membership_requests_reject_path(membership.learning_group, membership), method: :post, class: 'button'
