= two_column_card t('.title'), "", first: true do
  = box padding: false do
    = render UserProfileAttributesComponent.new(user: @user)

- if @user.student?
  = two_column_card t('.learning_groups'), "" do
    = box padding: false do
      - Student.find(@user.id).learning_groups.each do |learning_group|
        .p-4= link_to learning_group.name, [learning_group.school, learning_group]

= two_column_card t('activerecord.models.theme.other'), "" do
  = box padding: false do
    = box_description_list do |list|
      - %i[noun verb adjective function_word].each do |word_type|
        = render UserProfileThemeComponent.new(user: @user, word_type:, list:)
