= title_with_actions @compound_postconfix.name

= two_column_card CompoundPostconfix.model_name.human, "", first: true do
  = box padding: false do
    = box_description_list do |list|

      = render(list.add(CompoundPostconfix.human_attribute_name(:name))) do
        = @compound_postconfix.name

= render 'words/usages' do |compound_entity|
  - if compound_entity.word.blank?
    %span
  - else
    .p-4= link_to compound_entity.word.name, compound_entity.word

.pagination-with-actions
  = link_to t('actions.edit'), edit_compound_postconfix_path(@compound_postconfix), class: 'button primary'
