%div{class: 'h-full hover:shadow-lg hover:cursor-pointer relative !overflow-visible rounded-3xl', style: 'overflow: visible', id: dom_id(word), 'data-controller': "dropdown #{confetti ? 'confetti' : ''}", 'data-action': 'click->dropdown#toggle click@window->dropdown#hide'}
  - menu_id = "menu-#{word.id}"
  - show_actions_label = t('.show_actions')

  = render WordPanelComponent.new(word:, menu: true)

  .hidden.flex.flex-col.gap-1.absolute.left-0.bg-white.w-full.z-50.p-2.rounded-lg.shadow-lg(id=menu_id role="menu" data-dropdown-target="menu")
    - unless @is_first_list
      = button_to t('.move_word_to_first_section', first_section: t('activerecord.attributes.list.flashcard_sections.1')), move_word_list_path(current_user.first_flashcard_list, word_id: word.id), method: :patch, class: 'button text-xs !w-full'

    - next_section_list = current_user.flashcard_list(list.flashcard_section + 1)
    - if next_section_list.present?
      = button_to t('.move_word_to_next_section'), move_word_list_path(next_section_list, word_id: word.id), method: :patch, class: 'button primary !text-xs !w-full'

    = link_to t('.show_word'), word, class: 'button text-xs text-center !w-full'
