%h1= t '.title'

= index_grid do
  - @lists.each do |list|
    = box do
      .flex.justify-between.items-center{id: dom_id(list)}
        = list
        = form_with url: school_learning_group_learning_pleas_path(@school, @learning_group) do |f|
          = f.hidden_field 'learning_plea[list_id]', value: list.id
          = button_tag :submit, class: 'button' do
            = t('.assign')
