= liquid_template

- if !preview
  .flex.flex-col.gap-12.mt-12
    - if helpers.can?(:edit, word)
      .flex
        = link_to t('actions.edit'), [:edit, word], data: { turbo_frame: '_top' }, class: 'button primary'
      = render 'shared/versions', model: word

    - if helpers.can?(:manage_llm, word) && !Rails.env.test?
      - enrichment = Llm::Enrich.new(word:)

      - if enrichment.supported?
        - enrichment.full_prompts.each do |prompt|
          = render BoxComponent.new(title: t('.llm_prompt.title'), span: 2) do
            .p-4.whitespace-pre-wrap.break-words= prompt

    .pagination-with-actions
      .flex.flex-wrap.gap-2
        - if helpers.can?(:edit, word)
          = link_to t('actions.edit'), [:edit, word], data: { turbo_frame: '_top' }, class: 'button primary'
        - if helpers.can? :create, ImageRequest
          = render RequestImageComponent.new(word:, user: helpers.current_user)
