= title_with_actions Phenomenon.model_name.human(count: 2)

= index_grid do
  = render @phenomenons

.pagination-with-actions
  = paginate @phenomenons
  = link_to t('.new'), new_phenomenon_path, class: 'button primary'
