= box padding: false do
  = simple_form_for @theme, html: { 'data-controller': 'code-editor' } do |f|
    = box_content do
      = f.input :name, autofocus: true
      = f.input :description
      = f.input :template, input_html: { 'data-code-editor-target': 'input' }
      %button.text-xs.text-gray-500(class="!mt-0" type="button" data-action="code-editor#insert")= t('.replace_with_default_theme.action')
      = f.input :visibility, include_blank: false

    = box_footer do
      = f.submit
      = cancel_button @theme

%p.mt-8= t '.variables_introduction_html'

- Theme::WORD_CLASSES.each do |klass|
  %h2= t klass.model_name.human
  = box class: 'mt-8' do
    .grid.grid-cols-2
      - ThemeVariables.public_send("#{klass.to_s.underscore}_keys").each do |key|
        %div
          %code= key
        %div= t "#{key}_html", scope: 'theme.descriptions'

:javascript
  window.defaultTemplates = #{raw Theme::WORD_TYPES.to_h { |word_type| [word_type, Theme.default_template(word_type:)] }.to_json}
  window.templateOverwriteConfirmation = "#{j t('.replace_with_default_theme.confirmation')}"
