= box padding: false do
  = simple_form_for @theme do |f|
    = box_content do
      = f.input :name, autofocus: true
      = f.input :description
      = f.input :template
      = f.input :word_type, include_blank: false
      = f.input :visibility, include_blank: false

    = box_footer do
      = f.submit
      = cancel_button @theme

%p.mt-8= t '.variables_introduction_html'

- [Noun, Verb, Adjective].each do |klass|
  %h2= t klass.model_name.human
  = box class: 'mt-8' do
    .grid.grid-cols-2
      - ThemeVariables.public_send("#{klass.underscore}_keys").each do |key|
        %div
          %code= key
        %div= t "#{key}_html", scope: 'theme.descriptions'
