<div class="flex flex-col gap-y-12 md:grid md:grid-cols-2 md:gap-12">
  {{ header }}

  {% box Eigenschaften %}
    {% box_grid %}
      {% if genus_neuter != blank %}<div>Form (Neutrum)</div><div>{{ genus_neuter }}</div>{% endif %}
      {% if genus_masculine != blank %}<div>Form (Maskulinum)</div><div>{{ genus_masculine }}</div>{% endif %}
      {% if genus_feminine != blank %}<div>Form (Femininum)</div><div>{{ genus_feminine }}</div>{% endif %}
      <div>Singularwort</div><div>{{ singularetantum }}</div>
      <div>Pluralwort</div><div>{{ pluraletantum }}</div>
    {% endbox_grid %}
  {% endbox %}

  <%= erb Rails.root.join('app/views/themes/liquid/meaning.liquid') %>

  {% if case_1_singular != blank || case_1_plural != blank || case_2_singular != blank || case_2_plural != blank || case_3_singular != blank || case_3_plural != blank || case_4_singular != blank || case_4_plural != blank %}
    {% box Fälle / Kasus %}
      {% box_grid 3 %}
        <div class="col-span-2 lg:col-span-1">
          <div>
            <div>1. Fall / Nominativ</div>
            <div class="text-sm font-normal">Wer oder was?</div>
          </div>
        </div>
        <div>
          <div class="flex gap-1 font-bold">
            {{ case_1_singular_article }} {{ case_1_singular }}
          </div>
          <div class="text-sm">Singular</div>
        </div>
        <div>
          <div class="flex gap-1 font-bold">
            {{ case_1_plural_article }} {{ case_1_plural }}
          </div>
          <div class="text-sm">Plural</div>
        </div>

        <div class="col-span-2 lg:col-span-1">
          <div>
            <div>2. Fall / Genitiv</div>
            <div class="text-sm font-normal">Wessen?</div>
          </div>
        </div>
        <div>
          <div class="flex gap-1 font-bold">
            {{ case_2_singular_article }} {{ case_2_singular }}
          </div>
          <div class="text-sm">Singular</div>
        </div>
        <div>
          <div class="flex gap-1 font-bold">
            {{ case_2_plural_article }} {{ case_2_plural }}
          </div>
          <div class="text-sm">Plural</div>
        </div>

        <div class="col-span-2 lg:col-span-1">
          <div>
            <div>3. Fall / Dativ</div>
            <div class="text-sm font-normal">Wem?</div>
          </div>
        </div>
        <div>
          <div class="flex gap-1 font-bold">
            {{ case_3_singular_article }} {{ case_3_singular }}
          </div>
          <div class="text-sm">Singular</div>
        </div>
        <div>
          <div class="flex gap-1 font-bold">
            {{ case_3_plural_article }} {{ case_3_plural }}
          </div>
          <div class="text-sm">Plural</div>
        </div>

        <div class="col-span-2 lg:col-span-1">
          <div>
            <div>4. Fall / Akkusativ</div>
            <div class="text-sm font-normal">Wen oder was?</div>
          </div>
        </div>
        <div>
          <div class="flex gap-1 font-bold">
            {{ case_4_singular_article }} {{ case_4_singular }}
          </div>
          <div class="text-sm">Singular</div>
        </div>
        <div>
          <div class="flex gap-1 font-bold">
            {{ case_4_plural_article }} {{ case_4_plural }}
          </div>
          <div class="text-sm">Plural</div>
        </div>
      {% endbox_grid %}
    {% endbox %}
  {% endif %}

  <%= erb Rails.root.join('app/views/themes/liquid/syntax.liquid') %>
  {{ lists_box }}
  {{ example_sentences_box }}
  {{ other_meanings_box }}
  <%= erb Rails.root.join('app/views/themes/liquid/relations.liquid') %>
</div>
