<div class="p-4 bg-white" style="width: 15cm; height: 21cm">
  <div class="flex justify-between">
    <div>
      <div><strong>{{ name }}</strong> &mdash; {{ comparative }} &mdash; {{ superlative }}</div>
      <div class="text-md text-gray-700">{{ meaning }}</div>
    </div>

    <span>{{ word_type }}</span>
  </div>

  <div class="flex justify-center my-6">
    <img src="{{ image_url }}" style="max-height: 8cm" />
  </div>

  <p>{{ example_sentence }}</p>

  <p>{{ meaning_long }}</p>

  <div class="grid gap-2" style="grid-template-columns: 30% 1fr">
    <div class="text-right mr-2">{{ labels.absolute }}</div>
    <div>{{ absolute }}</div>

    <div class="text-right mr-2">{{ labels.irregular_comparison }}</div>
    <div>{{ irregular_comparison }}</div>

    <div class="text-right mr-2">{{ labels.irregular_declination }}</div>
    <div>{{ irregular_declination }}</div>

    <div class="text-right mr-2 mt-4">{{ labels.syllables }}</div>
    <div>{{ syllables }}</div>

    <div class="text-right mr-2">{{ labels.keywords }}</div>
    <div>{{ keywords }}</div>

    <div class="text-right mr-2">{{ labels.topics }}</div>
    <div>{{ topics }}</div>

    <div class="text-right mr-2">{{ labels.hierarchy }}</div>
    <div>{{ hierarchy }}</div>

    <div class="text-right mr-2">{{ labels.synonyms }}</div>
    <div>{{ synonyms }}</div>

    <div class="text-right mr-2">{{ labels.rimes }}</div>
    <div>{{ rimes }}</div>
  </div>
</div>
