<div class="flex flex-col gap-y-12 md:grid md:grid-cols-2 md:gap-12">
  {{ header }}

  {% box Eigenschaften %}
    {% box_grid %}
      <div>Wortart</div><div>Verb</div>
      <div>Subjektloses Verb</div><div>{{ subjectless }}</div>
      <div>Starkes Verb</div><div>{{ strong }}</div>
    {% endbox_grid %}
  {% endbox %}

  <%= erb Rails.root.join('app/views/themes/liquid/meaning.liquid') %>

  {% box Formen %}
    {% box_grid 3 %}
      {% if imperative_singular != blank || imperative_plural != blank %}
        <div>Imperativ</div>
        <div>
          {{ imperative_singular }}
          <div class="text-sm">Singular</div>
        </div>
        <div>
          {{ imperative_plural }}
          <div class="text-sm">Plural</div>
        </div>
      {% endif %}
      {% if participle != blank || past_participle != blank %}
        <div>Partizip</div>
        <div>
          {{ participle }}
          <div class="text-sm">Partizip 1</div>
        </div>
        <div>
          {{ past_participle }}
          <div class="text-sm">Partizip 2</div>
        </div>
      {% endif %}
      <div>Perfektbildung</div>
      <div>
        {{ perfect_haben }}
        <div class="text-sm">über "haben"</div>
      </div>
      <div>
        {{ perfect_sein }}
        <div class="text-sm">über "sein"</div>
      </div>
    {% endbox_grid %}
  {% endbox %}

  {% if present_singular_1 != blank || present_plural_1 != blank || past_singular_1 != blank || past_plural_1 != blank || present_singular_2 != blank || present_plural_2 != blank || past_singular_2 != blank || past_plural_2 != blank || present_singular_3 != blank || present_plural_3 != blank || past_singular_3 != blank || past_plural_3 != blank %}
    {% box Zeitformen %}
      {% box_grid 4 %}
        <div>
          <div>Präsens</div>
          <div class="text-sm">Singular</div>
        </div>
        <div>ich {{ present_singular_1 }}</div>
        <div>du {{ present_singular_2 }}</div>
        <div>er/sie/es {{ present_singular_3 }}</div>
        <div>
          <div>Präsens</div>
          <div class="text-sm">Plural</div>
        </div>
        <div>wir {{ present_plural_1 }}</div>
        <div>ihr {{ present_plural_2 }}</div>
        <div>sie {{ present_plural_3 }}</div>

        <div>
          <div>Präteritum</div>
          <div class="text-sm">Singular</div>
        </div>
        <div>ich {{ past_singular_1 }}</div>
        <div>du {{ past_singular_2 }}</div>
        <div>er/sie/es {{ past_singular_3 }}</div>
        <div>
          <div>Präteritum</div>
          <div class="text-sm">Plural</div>
        </div>
        <div>wir {{ past_plural_1 }}</div>
        <div>ihr {{ past_plural_2 }}</div>
        <div>sie {{ past_plural_3 }}</div>
      {% endbox_grid %}
    {% endbox %}
  {% endif %}

  <%= erb Rails.root.join('app/views/themes/liquid/syntax.liquid') %>
  {{ lists_box }}
  {{ example_sentences_box }}
  {{ other_meanings_box }}
  <%= erb Rails.root.join('app/views/themes/liquid/relations.liquid') %>
</div>
