<div class="flex flex-col gap-y-12 md:grid md:grid-cols-2 md:gap-12">
  {{ header }}

  {% box Eigenschaften %}
    {% box_grid %}
      <div>Wortart</div><div>Adjektiv</div>
      <div>Komparativ</div><div>{{ comparative }}</div>
      <div>Superlativ</div><div>{{ superlative }}</div>
      <div>Absolutes Adjektiv (nicht steigerbar)</div><div>{{ absolute }}</div>
      <div>Unregelmäßige Komparation</div><div>{{ irregular_comparison }}</div>
      <div>Unregelmäßige Deklination</div><div>{{ irregular_declination }}</div>
    {% endbox_grid %}
  {% endbox %}

  <%= erb Rails.root.join('app/views/themes/liquid/meaning.liquid') %>
  <%= erb Rails.root.join('app/views/themes/liquid/syntax.liquid') %>
  {{ lists_box }}
  {{ example_sentences_box }}
  {{ other_meanings_box }}
  <%= erb Rails.root.join('app/views/themes/liquid/relations.liquid') %>
</div>
