= title_with_actions @theme.name do
  = link_to t('actions.edit'), edit_theme_path(@theme), class: 'button primary'

= two_column_card Theme.model_name.human, "", first: true do
  = box padding: false do
    = box_description_list do |list|

      = render(list.add(Theme.human_attribute_name(:name))) do
        = @theme.name

      = render(list.add(Theme.human_attribute_name(:description))) do
        = @theme.description

      = render(list.add(Theme.human_attribute_name(:word_type))) do
        = @theme.word_type_text

      = render(list.add(Theme.human_attribute_name(:template))) do
        %code.w-full.overflow-x-scroll
          %pre= @theme.template

      = render(list.add(Theme.human_attribute_name(:visibility))) do
        = @theme.visibility_text
