= two_column_card t('.title'), "", first: true do
  = box padding: false do
    = box_title "" do
      = link_to t('actions.edit'), edit_user_path(@user), class: 'button primary mt-0'
    = render UserProfileAttributesComponent.new(user: @user.decorate)

= two_column_card t('.learning_groups'), "" do
  = box padding: false do
    - @user.learning_groups.each do |learning_group|
      .p-4= link_to learning_group.name, learning_group
