- if any_present?(@noun, (1..4).map { |index| ["case_#{index}_singular", "case_#{index}_plural"] }.flatten)
  = render BoxComponent.new(title: t('words.show.cases.title')) do
    = render BoxGridComponent.new(columns: 3) do
      - (1..4).each do |index|
        - case_label = capture do
          = content_tag :div do
            = content_tag :div, Noun.human_attribute_name("case_#{index}".to_sym)
            = content_tag :div, Noun.human_attribute_name("case_#{index}_question".to_sym), class: 'text-sm font-normal'

        .col-span-2.lg:col-span-1= case_label
        %div
          .flex.gap-1.font-bold
            = @noun.article_definite(case_number: index, singular: true)
            = @noun.public_send("case_#{index}_singular")
          .text-sm= t Noun.human_attribute_name(:singular)
        %div
          .flex.gap-1.font-bold
            .text-sm= @noun.article_definite(case_number: index, singular: false)
            = @noun.public_send("case_#{index}_plural")
          .text-sm= t Noun.human_attribute_name(:plural)
