= title_with_actions CompoundInterfix.model_name.human(count: 2)

= index_grid do
  = render @compound_interfixes

.pagination-with-actions
  = paginate @compound_interfixes
  = link_to t('.new'), new_compound_interfix_path, class: 'button primary'
