= title_with_actions @compound_interfix.name

= two_column_card CompoundInterfix.model_name.human, "", first: true do
  = box padding: false do
    = box_description_list do |list|

      = render(list.add(CompoundInterfix.human_attribute_name(:name))) do
        = @compound_interfix.name

= render 'words/usages'

.pagination-with-actions
  = link_to t('actions.edit'), edit_compound_interfix_path(@compound_interfix), class: 'button primary'
