= box class: 'mt-4' do
  .grid.lg:grid-cols-3.gap-x-6.gap-y-2
    - words.each do |word|
      .font-bold.text-lg= word.name
      %div
        = helpers.separate word.topics do |topic|
          = topic.name
      .flex.justify-end
        = button_to t('.choose'), review_path(change_group, duplicate_word_id: word.id, state: :duplicate), method: :patch, class: 'button'
