Eine Reviewer:in hat enschieden das folgende Wort nicht aufzunehmen:

%table
  %tr
    %td Grundform
    %td= @new_word.name
    %td Thema
    %td= @new_word.topic
    %td Worttyp
    %td= @new_word.word_type_text
    %td LLM Vorschlag Grundform
    %td= @new_word.llm_name
    %td LLM Vorschlag Thema
    %td= @new_word.llm_topic
