= link_to word, class: 'flex justify-between px-4 border-b' do
  .grid.grid-cols-2.gap-2(style="grid-template-columns: 3rem 1fr")
    - if word.image.attached?
      = image_tag word.image.variant(:thumb), style: 'max-height: 100%'
    - else
      %div

    .py-2
      - if word.is_a? Noun
        %span= "#{word.article_definite} "
      %span.font-bold= word.name

  .uppercase.text-xs.py-2= word.model_name.human
