= box padding: false do
  = simple_form_for @hierarchy do |f|
    = box_content do
      = f.input :name, autofocus: true
      = f.input :image
      = f.association :parent

    = box_footer do
      = f.submit
      = cancel_button @hierarchy.new_record? ? hierarchies_path : hierarchy_path(@hierarchy)
