= render VisualOverviewLinksComponent.new

= title_with_actions Hierarchy.model_name.human(count: 2) do
  - if @show_children
    = link_to t('.hide_children'), url_for(show_children: false), class: 'button'
  - else
    = link_to t('.show_children'), url_for(show_children: true), class: 'button'

= index_grid do
  = render @hierarchies

.pagination-with-actions
  = paginate @hierarchies
  = link_to t('.new'), new_hierarchy_path, class: 'button primary' if can? :create, Hierarchy
