= title_with_actions @hierarchy.name

= two_column_card Hierarchy.model_name.human, "", first: true do
  = box padding: false do
    = box_description_list do |list|

      = render(list.add(Hierarchy.human_attribute_name(:name))) do
        = @hierarchy.name
    
      = render(list.add(Hierarchy.human_attribute_name(:parent))) do
        .flex.flex-wrap= hierarchy_breadcrumbs @hierarchy.parent

      = render(list.add(Hierarchy.human_attribute_name(:image))) do
        .flex.flex-wrap
          - if @hierarchy.image.attached?
            = image_tag @hierarchy.image
            = button_to t('actions.delete'), remove_image_hierarchy_path(@hierarchy), method: :delete

= render 'words/usages'

.pagination-with-actions
  = link_to t('actions.edit'), edit_hierarchy_path(@hierarchy), class: 'button primary'
