- if any_present?(word, %i[meaning meaning_long hierarchy topics])
  = render BoxComponent.new(title: t('words.show.meaning')) do
    = render BoxGridComponent.new do
      - if word.meaning.present? || word.meaning_long.present?
        %div= Word.human_attribute_name(:meaning)
        %div
          = word.meaning
          %p.text-sm.mt-2= word.meaning_long if word.meaning_long.present?

      - if word.hierarchy.present?
        %div= Word.human_attribute_name(:hierarchy)
        .flex.flex-wrap.items-center= hierarchy_breadcrumbs word.hierarchy

      %div= Word.human_attribute_name(:topics)
      %div
        = separate word.topics do |topic|
          = link_to_if can?(:read, topic), topic.name, topic
