- if word.other_meanings.present?
  = render BoxComponent.new(title: t('words.show.more_meanings')) do
    = render BoxGridComponent.new do
      - word.other_meanings.each.with_index do |other_word, index|
        %div= t('words.show.more_meaning', count: index + 2)
        %div
          = link_to other_word, class: 'button inline-block' do
            .flex.gap-2
              = other_word.name_with_meaning
              = heroicon 'chevron-right'
