- if any_present? word, %i[synonyms opposites keywords rimes]
  = render BoxComponent.new(title: t('words.show.relations.title')) do
    = render BoxGridComponent.new do
      - if word.synonyms.present?
        %div= Word.human_attribute_name(:synonyms)
        %div
          = separate word.synonyms do |synonym|
            = link_to_if can?(:read, synonym), synonym.name, synonym

      - if word.opposites.present?
        %div= Word.human_attribute_name(:opposites)
        %div
          = separate word.opposites do |opposite|
            = link_to_if can?(:read, opposite), opposite.name, opposite

      - if word.keywords.present?
        %div= Word.human_attribute_name(:keywords)
        %div
          = separate word.keywords do |keyword|
            = link_to_if can?(:read, keyword), keyword.name, keyword

      - if word.rimes.present?
        %div= Word.human_attribute_name(:rimes)
        %div
          = separate word.rimes do |rime|
            = link_to_if can?(:read, rime), rime.name, rime
