= title_with_actions CompoundPreconfix.model_name.human(count: 2)

= index_grid do
  = render @compound_preconfixes

.pagination-with-actions
  = paginate @compound_preconfixes
  = link_to t('.new'), new_compound_preconfix_path, class: 'button primary'
