%h1= t '.title'

= box padding: true do
  = simple_form_for(@user, as: :user, url: registration_path(:user), html: { method: :put }) do |f|
    = f.error_notification

    = f.input :email, required: true, autofocus: true

    - if Devise.mappings[:user].confirmable? && @user.pending_reconfirmation?
      %p= t("devise.registrations.edit.currently_waiting_confirmation_for_email", email: resource.unconfirmed_email)

    = f.input :current_password, hint: t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes"), required: true, input_html: { autocomplete: "current-password" }

    .form-actions
      = f.submit
      = cancel_button profile_path
