%h1= t '.title'

= form_for_filterrific @filterrific, html: { data: { turbo_frame: 'words', turbo_action: 'advance', controller: 'form-submission filter reveal' } } do |f|
  .flex.flex-wrap.gap-4
    .flex-grow
      = render OmniSearchFieldComponent.new(form: f, words: @words, on_search_page: true)
    %button.flex.button.items-center.gap-1(data-action="click->reveal#toggle" data-reveal-target="item")
      = heroicon 'sparkles'
      = t('filter.open')

  .mt-12.flex.flex-col.justify-center.md:flex-row.gap-2.md:gap-8.tabbed-radio-buttons
    .flex.items-center.gap-2
      = f.radio_button :filter_type, '', data: {action: "input->form-submission#search click->filter#hideAll"}
      = f.label :filter_type, t('filter.results.all', count: @counts[:all]), value: ''
    .flex.items-center.gap-2
      = f.radio_button :filter_type, 'Noun', data: {action: "input->form-submission#search click->filter#showNoun"}
      = f.label :filter_type, t('filter.results.nouns', count: @counts[:nouns]), value: 'Noun'
    .flex.items-center.gap-2
      = f.radio_button :filter_type, 'Verb', data: {action: "input->form-submission#search click->filter#showVerb"}
      = f.label :filter_type, t('filter.results.verbs', count: @counts[:verbs]), value: 'Verb'
    .flex.items-center.gap-2
      = f.radio_button :filter_type, 'Adjective', data: {action: "input->form-submission#search click->filter#showAdjective"}
      = f.label :filter_type, t('filter.results.adjectives', count: @counts[:adjectives]), value: 'Adjective'
    .flex.items-center.gap-2
      = f.radio_button :filter_type, 'FunctionWord', data: {action: "input->form-submission#search click->filter#showFunctionWord"}
      = f.label :filter_type, t('filter.results.function_words', count: @counts[:function_words]), value: 'FunctionWord'

  .flex.flex-col.xl:flex-row
    .mt-6.hidden(class="xl:max-w-[30vh]" data-reveal-target="item")
      = render 'filters/form', f:
    .p-6
      = render 'words/index', words: @words

= turbo_frame_tag :add_words_to_list do
  = render 'filters/add_to_list'
