= form_for_filterrific @filterrific, html: { data: { controller: 'form-submission' } } do |f|
  = hidden_field_tag :mode, params[:mode]

  .content.pb-0
    = turbo_frame_tag :omni_search do
      = render 'omni_search'

    = turbo_frame_tag :word_type_filter do
      = render 'word_type_filter'

  .bg-gray-background.border-t-4.border-primary.md:border-t.md:border-gray-border
    .pt-0.flex.flex-col.md:flex-row
      = turbo_frame_tag :advanced_search_fields do
        = render 'filters/form', f:
      .p-6.pt-0.grow
        = render 'words/index', words: @words

.content
  = turbo_frame_tag :add_words_to_list do
    = render 'filters/add_to_list'
