= turbo_stream.update :open_advanced_link, partial: 'open_advanced_link'

= turbo_stream.update :word_type_filter, partial: 'word_type_filter'

= turbo_stream.update :words do
  = render 'words/index', words: @words, wrap_in_turbo_frame: false

= turbo_stream.update :filter_sources, partial: 'filters/sources'
= turbo_stream.update :filter_topics, partial: 'filters/topics'
= turbo_stream.update :filter_hierarchies, partial: 'filters/hierarchies'
= turbo_stream.update :filter_keywords, partial: 'filters/keywords'
= turbo_stream.update :add_words_to_list, partial: 'filters/add_to_list'
