%h1= t '.title'

= box do
  = simple_form_for [@learning_group, @learning_group_membership] do |f|
    = f.association :user, as: :string, autofocus: true

    = button_tag :submit, class: 'button primary mt-4' do
      = t('.assign')
