= title_with_actions t('.title')

= box do
  = box_content do
    = t '.introduction'

    .grid.grid-cols-2.mt-4
      .font-bold= t '.email'
      .font-bold= t '.password'

      %div= @user.email
      %div= @new_password

  = box_footer do
    = link_to t('.back'), learning_group_path(@learning_group), class: 'button primary'
