= box padding: false do
  = simple_form_for @learning_group do |f|
    = box_content do
      = f.input :name, autofocus: true
      - if @learning_group.owner == current_user
        = f.association :owner
      = f.association :word_view_setting, collection: WordViewSetting.accessible_by(current_ability)

    = box_footer do
      = f.submit
      = cancel_button learning_groups_path
