= box padding: false do
  = simple_form_for @learning_group do |f|
    = box_content do
      = f.input :name, autofocus: true
      - if @learning_group.owner == current_user
        = f.association :owner
      = f.association :theme_noun, include_blank: t('themes.show.standard')
      = f.association :theme_verb, include_blank: t('themes.show.standard')
      = f.association :theme_adjective, include_blank: t('themes.show.standard')
      = f.association :theme_function_word, include_blank: t('themes.show.standard')

    = box_footer do
      = f.submit
      = cancel_button learning_groups_path
