- if any_present?(@verb, (1..3).map { |index| ["present_singular_#{index}", "present_plural_#{index}", "past_singular_#{index}", "past_plural_#{index}"] }.flatten)
  = render BoxComponent.new(title: t('words.show.verb.tense.title')) do
    = render BoxGridComponent.new(columns: 4) do
      %div
        %div= Verb.human_attribute_name(:present)
        .text-sm= Verb.human_attribute_name(:singular)
      %div
        = Verb.human_attribute_name(:singular_1_pronoun)
        = @verb.present_singular_1
      %div
        = Verb.human_attribute_name(:singular_2_pronoun)
        = @verb.present_singular_2
      %div
        = Verb.human_attribute_name(:singular_3_pronoun)
        = @verb.present_singular_3

      %div
        %div= Verb.human_attribute_name(:present)
        .text-sm= Verb.human_attribute_name(:plural)
      %div
        = Verb.human_attribute_name(:plural_1_pronoun)
        = @verb.present_plural_1
      %div
        = Verb.human_attribute_name(:plural_2_pronoun)
        = @verb.present_plural_2
      %div
        = Verb.human_attribute_name(:plural_3_pronoun)
        = @verb.present_plural_3

      %div
        %div= Verb.human_attribute_name(:past)
        .text-sm= Verb.human_attribute_name(:singular)
      %div
        = Verb.human_attribute_name(:singular_1_pronoun)
        = @verb.past_singular_1
      %div
        = Verb.human_attribute_name(:singular_2_pronoun)
        = @verb.past_singular_2
      %div
        = Verb.human_attribute_name(:singular_3_pronoun)
        = @verb.past_singular_3

      %div
        %div= Verb.human_attribute_name(:past)
        .text-sm= Verb.human_attribute_name(:plural)
      %div
        = Verb.human_attribute_name(:plural_1_pronoun)
        = @verb.past_plural_1
      %div
        = Verb.human_attribute_name(:plural_2_pronoun)
        = @verb.past_plural_2
      %div
        = Verb.human_attribute_name(:plural_3_pronoun)
        = @verb.past_plural_3
