= render BoxComponent.new(title: t('words.show.verb.forms')) do
  = render BoxGridComponent.new(columns: 3) do
    - if @verb.imperative_singular.present? || @verb.imperative_plural.present?
      %div= Verb.human_attribute_name(:imperative)
      %div
        = @verb.imperative_singular.presence || "&nbsp;".html_safe
        .text-sm= Verb.human_attribute_name(:singular)
      %div
        = @verb.imperative_plural.presence || "&nbsp;".html_safe
        .text-sm= Verb.human_attribute_name(:plural)

    - if @verb.participle.present? || @verb.past_participle.present?
      %div= Verb.human_attribute_name(:participle_both)
      %div
        = @verb.participle.presence || "&nbsp;".html_safe
        .text-sm= Verb.human_attribute_name(:participle)
      %div
        = @verb.past_participle.presence || "&nbsp;".html_safe
        .text-sm= Verb.human_attribute_name(:past_participle)

    %div= Verb.human_attribute_name(:perfect)
    %div
      = @verb.perfect_haben.humanize.presence || "&nbsp;".html_safe
      .text-sm= Verb.human_attribute_name(:perfect_haben_short)
    %div
      = @verb.perfect_sein.humanize.presence || "&nbsp;".html_safe
      .text-sm= Verb.human_attribute_name(:perfect_sein_short)
