.flex.flex-col.gap-y-12.md:grid.md:grid-cols-2.md:gap-12
  = render WordHeaderComponent.new(word: @verb) do |component|
    - component.with_title do
      %h1= @verb.name

  = render BoxComponent.new(title: t('words.show.properties')) do
    = render BoxGridComponent.new do
      %div= Word.human_attribute_name(:type)
      %div= @verb.class.model_name.human

      %div= Verb.human_attribute_name(:subjectless)
      %div= @verb.subjectless.humanize

      %div= Verb.human_attribute_name(:strong)
      %div= @verb.strong.humanize

  = render 'words/meaning', word: @verb
  = render 'verbs/forms'
  = render 'verbs/conjugations'
  = render 'words/syntax', word: @verb
  = render 'words/lists', word: @verb
  = render 'example_sentences/list', word: @verb
  = render 'words/more_meanings', word: @verb
  = render 'words/relations', word: @verb
  = render 'shared/versions', model: @verb

.pagination-with-actions.mt-12
  = link_to t('actions.edit'), [:edit, @verb], data: { turbo_frame: '_top' }, class: 'button primary' if can?(:edit, @verb)
