<footer class="bg-white print:hidden">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="<%= imprint_path %>" class="text-base text-gray-500 hover:text-gray-900">Impressum</a>
      </div>

      <div class="px-5 py-2">
        <a href="https://github.com/wort-schule/wort.schule" class="text-base text-gray-500 hover:text-gray-900">Quellcode auf GitHub</a>
      </div>

      <div class="px-5 py-2">
        <a href="https://github.com/wort-schule/wort.schule/wiki" class="text-base text-gray-500 hover:text-gray-900">Wiki</a>
      </div>

      <div class="px-5 py-2">
        <a href="mailto:inhalt@wort.schule?subject=wort.schule%20Fehler%20oder%20Optimierung%20melden&amp;body=Guten%20Tag,%0D%0A%0D%0Azur%20Webseite%20<%= request.original_url %>%20möchte%20ich%20folgenden%20Fehler%20melden:" class="text-base text-gray-500 hover:text-gray-900">Inhaltlichen Fehler melden</a>
      </div>
      
       <div class="px-5 py-2">
        <a href="https://github.com/wort-schule/wort.schule/issues/new" class="text-base text-gray-500 hover:text-gray-900">Technischen Fehler melden</a>
      </div>

      <div class="px-5 py-2">
        <%= link_to "Wort Index", word_index_path, class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>

    </nav>

    <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="noopener noreferrer" class="mt-8 flex flex-wrap gap-2 justify-center">
      <%= image_tag "cc.svg", class: "h-10", alt: "CC0" %>
      <%= image_tag "zero.svg", class: "h-10", alt: "" %>
    </a>

    <div class="mt-8 flex flex-wrap justify-center gap-6">
      <a href="https://www.aktion-mensch.de" target="_blank" rel="noopener noreferrer"><%= image_tag "aktion-mensch.png", class: "h-16", alt: "Aktion Mensch" %></a>
      <a href="https://www.sophie-scholl-schulen.de" target="_blank" rel="noopener noreferrer"><%= image_tag "sophie-scholl-schulen.png", class: "h-16", alt: "Sophie Scholl Schulen" %></a>
      <a href="https://www.uni-bremen.de/fb12/arbeitsbereiche/abteilung-c-inklusive-paedagogik/inklusive-paedagogik-geistige-entwicklung-und-lernen" target="_blank" rel="noopener noreferrer"><%= image_tag "uni-bremen.png", class: "h-16", alt: "Universität Bremen" %></a>
    </div>
  </div>
</footer>
