#mobile-menu.hidden(data-reveal-target="item")
  .pt-4.pb-3.border-t.border-gray-200

  - if current_user.present?
    = link_to profile_path do
      .flex.items-center.px-5
        .flex-shrink-0
          = image_tag current_user.decorate.avatar_url, class: 'rounded-full', alt: ''
        .ml-3
          .text-base.font-medium.leading-none.text-white= current_user.full_name
          .text-sm.font-medium.leading-none.text-gray-200.mt-1= current_user.email
    .mt-3.px-2.space-y-1
      = render 'user_menu', profile: false
