%nav.bg-primary(data-controller="reveal" data-reveal-hidden-class="hidden")
  .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
    .flex.items-center.justify-between.h-16
      .flex.items-center
        .flex-shrink-0
          .rounded-full.bg-white.h-10.w-10.flex.items-center.justify-center
            = link_to root_path do
              = image_tag 'logo.png', class: 'h-8 w-8', alt: ''
        .hidden.md:block
          .ml-10.flex.items-baseline.space-x-4.ci-navigation
            = render 'main_menu'

      = render 'desktop_user_menu'

      .-mr-2.flex.md:hidden
        = render 'mobile_menu_button'

  = render 'mobile_menu'
