:css
  @font-face {
    font-family: "#{current_font}";
    font-weight: 400;
    src: url("/fonts/#{current_font}-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "#{current_font}";
    font-weight: 700;
    src: url("/fonts/#{current_font}-Bold.woff") format("woff");
  }

  .syllables-font {
    font-family: "#{current_font}";
  }

- if current_user&.word_font.present?
  :css
    .word-font {
      font-family: "#{current_user.word_font.dig(:filename)}";
    }
