- word = @reviewable.word_attribute_edits.first.word
= render word, description: word.meaning.presence || word.topics.map(&:name)

.mt-6
  = simple_form_for @reviewable, url: review_path(@reviewable), method: :patch do |f|
    .grid.gap-6
      = f.fields_for :word_attribute_edits do |wae|
        .grid.lg:grid-cols-2.gap-x-6.gap-y-2
          %div
            %div= t 'reviews.show.attribute'
            .font-bold.text-lg= wae.object.attribute_label
          %div

          %div= t 'reviews.show.current_value'
          %div= t 'reviews.show.proposed_value'

          .font-bold.text-xl
            - if [TrueClass, FalseClass].any? { |klass| wae.object.current_value.is_a?(klass) }
              = wae.object.current_value.humanize
            - elsif wae.object.attribute_name == 'example_sentences'
              - wae.object.word.example_sentences.each do |example_sentence|
                %div= example_sentence
            - else
              = wae.object.current_value
          %div
            = hidden_field_tag :state, 'confirmed'
            = render Reviews::LlmValueComponent.new(form: wae)

.flex.flex-wrap.md:gap-2.md:justify-end.mt-6
  = form_tag review_path(@reviewable), method: :patch, class: 'grow md:grow-0' do
    = hidden_field_tag :state, 'skipped'
    = submit_tag t('reviews.show.actions.skip'), class: 'button outline mt-4'
  %button.button.primary.grow.md:grow-0.mt-4{ type: "submit", form: dom_id(@reviewable, :edit) }= t 'reviews.show.actions.confirm'
