.p-4
  = render @reviewable.word

  .mt-6= t '.attribute'
  .font-bold.text-lg= @reviewable.attribute_label

  .grid.lg:grid-cols-2.mt-6.gap-6
    = box do
      %div= t '.current_value'
      .font-bold.text-xl= @reviewable.current_value

    = box do
      %div= t '.proposed_value'
      = simple_form_for @reviewable, url: review_path(@reviewable), method: :patch do |f|
        = hidden_field_tag :state, 'confirmed'
        = f.input :value, label: false

  .flex.flex-wrap.md:gap-2.md:justify-end.mt-6
    = form_tag review_path(@reviewable), method: :patch, class: 'grow md:grow-0' do
      = hidden_field_tag :state, 'skipped'
      = submit_tag t('.actions.skip')
    %button.button.primary.grow.md:grow-0.mt-4{ type: "submit", form: dom_id(@reviewable, :edit) }= t '.actions.confirm'
