.flex.flex-wrap.justify-center.gap-4
  - Fonts::AVAILABLE_FONTS.each do |font|
    = link_to font.name, url_for(font: font.key)

%h1= @font.name

.mt-8
  %table
    %thead
      %tr
        %th Arc number (^xy)
        %th Syllable
        %th Calculated width
    %tbody
      - @calculations.each do |syllable, width|
        %tr
          %td.border.px-2.py-1= @syllable_arc.arc(syllable)&.gsub('^', '')
          %td.border.px-2.py-1.syllables-font= "#{@syllable_arc.arc(syllable)}#{syllable}"
          %td.border.px-2.py-1= width
