!!!
%html.h-full.bg-gray-100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - app_name = "wort.schule"
    - page_title = content_for :page_title
    %title= [page_title, app_name].select(&:present?).join(" | ")
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.h-full
    .min-h-full
      = render 'navigation'

      - if flash.present?
        %header(class="bg-white shadow")
          .max-w-7xl.mx-auto.py-6.px-4.sm:px-6.lg:px-8
            - flash.each do |type, message|
              = message

      %main
        .max-w-7xl.mx-auto.py-6.sm:px-6.lg:px-8
          = yield

        = render '/layouts/footer'
